.form-group {
    margin-bottom: 0;
}
.form-control {
    height: 24px;
}
.panel {
    margin-bottom: 10px;
}
.label {
    display: initial;
}
.input-group-addon {
    padding: 4px 12px;
}

.select2-container .select2-choice {
    height: 24px;
    line-height: 24px;
}

.with-padding {
    padding-bottom: 4PX;
    padding-top: 4px;
}

.dropdown-toggle{
    height: 24px;
    padding-top: unset;
}