<h1> Add test </h1>
<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>
            <mat-label routerLink="/Test" class="GreyLabel" style="cursor:pointer;"> Test List </mat-label>
        </span>
        <span> / Add Test</span>
        <span class="fill-remaining-space"> </span>
    </mat-toolbar>
</div>

<mat-card>
    <div style="width: 1100px;">
        <mat-grid-list cols="5" rowHeight="8:2">
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Test Name:</mat-label>
                    <input required #TName= "ngModel" [(ngModel)]="TestName" matInput placeholder="Covid 19:"  type="text" name="Test Name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Test Charges:</mat-label>
                    <input required #TCharges= "ngModel" [(ngModel)]="TestCharges" matInput placeholder="" type="number" >
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Max. Discount :</mat-label>
                    <input required #TDisc= "ngModel" [(ngModel)]="TestDiscPerc" matInput placeholder="" type="number" (keyup) = "calculateDiscount()" >
                    <mat-hint align="end">Discount must be in %</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Disc. Amount in Rupees:</mat-label>
                    <input #TDiscAmount= "ngModel" [(ngModel)]="TestDiscAmount" matInput placeholder="" type="number" readonly>
                    <mat-hint align="end">Calculate by System</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Net Charges:</mat-label>
                    <input  #TNetcharges= "ngModel" [(ngModel)]="TestNetcharges" matInput placeholder="" type="number" readonly>
                    <mat-hint align="end">Calculate by System</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </div>


    <div>      
        <button mat-raised-button color="primary" (click)="AddTest()" >Save</button>        
    </div>

</mat-card>