
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"  size="default" type="ball-clip-rotate-multiple" >
    <p style="color: white">Loading... </p>
</ngx-spinner>
<h1>Patient List</h1>
<mat-divider></mat-divider>

<div class="button">
    <button mat-raised-button color="primary" (click)="Add()">Add Patient </button>
</div>
<div class="table_class">
    <table mat-table [dataSource]="patientList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef>FirstName</th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName}} {{element.LastName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="MobileNo">
            <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
            <td mat-cell *matCellDef="let element"> {{element.MobileNo}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="CNIC">
            <th mat-header-cell *matHeaderCellDef> CNIC </th>
            <td mat-cell *matCellDef="let element"> {{element.CNIC}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="CreatedOn">
            <th mat-header-cell *matHeaderCellDef> CreatedOn </th>
            <td mat-cell *matCellDef="let element"> {{element.CreatedOn}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)= "Edit(element.ID)"      
                  >Edit</button>
                <button mat-raised-button color="warn">Delete</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    
</div>
