.mat-table {
    background:white;
    width: 1300px;
    height: 230px;
    padding-top: 2px;

}

.table_class{
    padding: 25px;
}

.button{
    padding:8px;
    margin-left: 1199px;
}

.buttonEdit{
    padding: 2px;
}

