
<mat-toolbar style="background-color:#4FA2C2;">LMS
<span>
    <button mat-raised-button routerLink="/patient">Patient </button>
</span>
<span>
    <button mat-raised-button > Lab Reports </button>
</span>
<span>
    <button mat-raised-button > Reports </button>
</span>
<span>
    <button mat-raised-button routerLink="/Test" > Test List </button>
</span>
<span>
    <button mat-raised-button routerLink="/Package" > Add New Package </button>
</span>
<span>
    <button mat-raised-button > Configuration </button>
</span>
</mat-toolbar>




<router-outlet></router-outlet>